/build
/test_libx264.cpp
/input
/result*
/2024_result
/.vscode
/.DS_Store
/GenerateBitrate
/GenerateBitrate.dSYM/
/input_frames/
/comparison_*
result_bitrate/
result_5.11_multithread_calculate_delay/
difference/
past_results/
